@model GuidanceConsultancy.Areas.Admin.Models.DashboardViewModel.DashboardListModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutPage.cshtml";
}


@if (User.Identity.IsAuthenticated)
{

    if (User.IsInRole(GuidanceConsultancy.Helpers.AppConstants.UserRoles.SuperAdministrator.RoleName) || User.IsInRole(GuidanceConsultancy.Helpers.AppConstants.UserRoles.Administrator.RoleName))
    {
        <div class="row">
            <div class="col-xl-3 col-md-6">
                <!-- card -->
                <div class="card card-h-100">
                    <!-- card body -->
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-6">
                                <span class="text-muted mb-3 lh-1 d-block text-truncate">Total Student</span>
                                <h4 class="mb-3">
                                    <span class="counter-value" data-target="@ViewBag.totalStudent">0</span>
                                </h4>
                            </div>


                        </div>
                        <div class="text-nowrap">
                            <span class="badge bg-soft-success text-success">@ViewBag.todaysStudent</span>
                            <span class="ms-1 text-muted font-size-13">Today's </span>
                        </div>
                    </div><!-- end card body -->
                </div><!-- end card -->
            </div><!-- end col -->

            <div class="col-xl-3 col-md-6">
                <!-- card -->
                <div class="card card-h-100">
                    <!-- card body -->
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-6">
                                <span class="text-muted mb-3 lh-1 d-block text-truncate">Total School</span>
                                <h4 class="mb-3">
                                    <span class="counter-value" data-target="@ViewBag.totalSchool">0</span>
                                </h4>
                            </div>

                        </div>
                        <div class="text-nowrap">
                            <span class="badge bg-soft-danger text-danger">@ViewBag.totalInactiveSchool</span>
                            <span class="ms-1 text-muted font-size-13">Inactive</span>
                        </div>
                    </div><!-- end card body -->
                </div><!-- end card -->
            </div><!-- end col-->

            <div class="col-xl-3 col-md-6">
                <!-- card -->
                <div class="card card-h-100">
                    <!-- card body -->
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-6">
                                <span class="text-muted mb-3 lh-1 d-block text-truncate">Total User</span>
                                <h4 class="mb-3">
                                    <span class="counter-value" data-target="@ViewBag.totalUser">0</span>
                                </h4>
                            </div>

                        </div>
                        <div class="text-nowrap">
                            <span class="badge bg-soft-success text-success">@ViewBag.totalInactiveUser</span>
                            <span class="ms-1 text-muted font-size-13">Inactive</span>
                        </div>
                    </div><!-- end card body -->
                </div><!-- end card -->
            </div><!-- end col -->

            <div class="col-xl-3 col-md-6">
                <!-- card -->
                <div class="card card-h-100">
                    <!-- card body -->
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-6">
                                <span class="text-muted mb-3 lh-1 d-block text-truncate">Total Admin</span>
                                <h4 class="mb-3">
                                    <span class="counter-value" data-target="1">0</span>
                                </h4>
                            </div>

                        </div>
                        <div class="text-nowrap">
                            <span class="badge bg-soft-success text-success">0</span>
                            <span class="ms-1 text-muted font-size-13">Inactive</span>
                        </div>
                    </div><!-- end card body -->
                </div><!-- end card -->
            </div><!-- end col -->
        </div><!-- end row-->
    }
    else if (User.IsInRole(GuidanceConsultancy.Helpers.AppConstants.UserRoles.User.RoleName))
    {
        <div class="row">
            <div class="col-xl-3 col-md-6">
                <!-- card -->
                <div class="card card-h-100">
                    <!-- card body -->
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-6">
                                <span class="text-muted mb-3 lh-1 d-block text-truncate">Total Student</span>
                                <h4 class="mb-3">
                                    <span class="counter-value" data-target="@ViewBag.totalStudentByUser">0</span>
                                </h4>
                            </div>


                        </div>
                        <div class="text-nowrap">
                            <span class="badge bg-soft-success text-success">@ViewBag.todaysStudentByUser</span>
                            <span class="ms-1 text-muted font-size-13">Today's </span>
                        </div>
                    </div><!-- end card body -->
                </div><!-- end card -->
            </div><!-- end col -->





        </div><!-- end row-->
    }

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <table class="table table-bordered dt-responsive  nowrap w-100">
                    <thead>
                        <tr>
                            <th>Sr No</th>
                            <th>Name</th>
                            <th>Father Name</th>
                            <th>Class (Gender)</th>
                            <th>School</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.StudentModel != null)
                        {
                            if (Model.StudentModel.Count > 0)
                            {
                                int srNo = 0;
                                foreach (var items in Model.StudentModel)
                                {
                                    var status = "";
                                    var statusClass = "";
                                    var btnValue = "";
                                    var statusVeryfy = "";
                                    var statusClassVeryfy = "";
                                    var btnValueVeryfy = "";
                                    if (items.IsVerified == true)
                                    {
                                        statusVeryfy = "";
                                        statusClassVeryfy = "badge-soft-success";
                                        //btnValueVeryfy = "Pending";
                                    }
                                    else
                                    {
                                        statusVeryfy = "Pending";
                                        statusClassVeryfy = "badge-soft-warning";
                                        btnValueVeryfy = "Verify";
                                    }

                                    if (items.IsActive == true)
                                    {
                                        status = "Active";
                                        statusClass = "badge-soft-success";
                                        btnValue = "In-Active";
                                    }
                                    else
                                    {
                                        status = "In-Active";
                                        statusClass = "badge-soft-danger";
                                        btnValue = "Active";
                                    }
                                    <tr>
                                        <td>@(srNo+=1)</td>
                                        <td>
                                            @if (User.Identity.IsAuthenticated)
                                            {
                                                if (User.IsInRole(GuidanceConsultancy.Helpers.AppConstants.UserRoles.SuperAdministrator.RoleName) || User.IsInRole(GuidanceConsultancy.Helpers.AppConstants.UserRoles.Administrator.RoleName))
                                                {
                                                    <a href="@Url.Action("View","Student", new { Id=items.Id})">@items.Name</a>
                                                    }
                                        }
                                        else if (User.IsInRole(GuidanceConsultancy.Helpers.AppConstants.UserRoles.User.RoleName))
                                        {
                                            if (items.IsVerified == false)
                                            {
                                                @items.Name
                                            }
                                        }
                                        </td>
                                        <td>@items.FatherName</td>
                                        <td>@items.Mst_Class.Name (@items.Mst_Gender.Name)</td>
                                        <td>@items.Mst_School.Name</td>
                                        <td><span class="badge rounded-pill font-size-12 fw-medium @statusClassVeryfy">@statusVeryfy</span> <span class="badge rounded-pill font-size-12 fw-medium @statusClass">@status</span></td>
                                        <td>
                                            <div class="btn-group" role="group">
                                                <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                                                        aria-expanded="false">
                                                    Action <i class="mdi mdi-chevron-down"></i>
                                                </button>
                                                <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                                    @if (User.Identity.IsAuthenticated)
                                                    {
                                                        if (User.IsInRole(GuidanceConsultancy.Helpers.AppConstants.UserRoles.SuperAdministrator.RoleName) || User.IsInRole(GuidanceConsultancy.Helpers.AppConstants.UserRoles.Administrator.RoleName))
                                                        {
                                                            <li><a class="dropdown-item" href="@Url.Action("View","Student", new { id=items.Id})">View Detail</a></li>
                                                            <li><a class="dropdown-item" href="@Url.Action("ChangeStatus","Student", new { id=items.Id})" onclick="return confirm('Are you sure want to change status ?');">@btnValue</a></li>

                                                            <li><a class="dropdown-item" href="@Url.Action("Delete","Student", new { id=items.Id})" onclick="return confirm('Are you sure want to edit news?');">Edit</a></li>
                                                            <li><a class="dropdown-item" href="@Url.Action("Delete","Student", new { id=items.Id})" onclick="return confirm('Are you sure want to delete?');">Delete</a></li>
                                                        }
                                                        else if (User.IsInRole(GuidanceConsultancy.Helpers.AppConstants.UserRoles.User.RoleName))
                                                        {
                                                            if (items.IsVerified == false)
                                                            {
                                                                <li><a class="dropdown-item" href="@Url.Action("ChangeStatus","Student", new { id=items.Id})" onclick="return confirm('Are you sure want to change status ?');">@btnValue</a></li>
                                                                <li><a class="dropdown-item" href="@Url.Action("Delete","Student", new { id=items.Id})" onclick="return confirm('Are you sure want to edit?');">Edit</a></li>
                                                                <li><a class="dropdown-item" href="@Url.Action("Delete","Student", new { id=items.Id})" onclick="return confirm('Are you sure want to delete?');">Delete</a></li>
                                                            }

                                                        }
                                                    }

                                                </ul>
                                            </div>

                                        </td>
                                    </tr>
                                }
                            }
                        }
                    <tbody>
                </table>

                <div class="text-center" style="font-size:20px; margin:10px;"><a href="@Url.Action("Index","Student")">View More</a></div>

            </div>
        </div>
    </div>
</div>
}



